body{
    background-color: rgb(127, 204, 255);
}
.parent{
    background-color: rgb(210, 231, 133);
    margin:5%;
    display:flex;
    justify-content: space-around;
    border-radius: 5%;
     
}
/*.child3{
    border-left: 2px solid black;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 10%;
  }*/
  .child1{ background-color: rgb(200, 218, 136);}
  .child2{
      padding-right:13%;
      padding-top:5%;
      background-color: rgb(125, 151, 31);
      padding-left: 3%;
  }
  .child1 >.child11 >img{
      padding-left: 10%;
      width:20%;
      height:25%;
      padding-top:10%;
      border-image:3px solid red;
  }
  .child11  {
      padding-left:10%;
  }
  .child121,.child122 {padding-left:20%; }
  h2{padding-left: 10%;}
   
  @media screen and (min-width:550px) and (max-width:1220px)
  {
    .parent{
        flex-direction: column;
        flex-wrap: wrap;    
    }
    .child1{
        display:flex;
        flex-direction: row;
    }
    .child12{
        padding-left:10%;
    }
    img{
         
        width:50%;
        height:80%;
    }
  }
    @media screen and (min-width:320px) and (max-width:549px)
   {
    .parent{
        /*flex-direction: column;
        flex-wrap: wrap;*/
        display:inline-block;
        
    }
    img{
         
        width:30%;
        height:50%;
    }
   }